---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Main from "../components/Main.astro";
---

<Layout>
  <div class="flex flex-row h-screen">
    <div class="bg-gray-100 dark:bg-gray-800">
      <Nav />
    </div>
    <div class="">
      <Main />
    </div>
  </div>
</Layout>
