---
import "../styles/global.css";
import Nav from "../components/Nav.vue";
import DarkModeToggle from "../components/DarkModeToggle.astro";
import { getCollection } from "astro:content";

// Get blog posts and categories for the Nav component
const allPosts = await getCollection("blog");
const categories = await getCollection("categories");

let activePost: string = "";
---

<html lang="en" class="w-full h-full overflow-hidden margin-0">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>yeriqqen.github.io</title>
    <meta name="yeriqqen.github.io" content="My tech blog" />
  </head>
  <body
    class="flex flex-row h-screen bg-white dark:bg-gray-900 transition-colors duration-300"
  >
    <div class="w-80 bg-gray-100 dark:bg-gray-800">
      <DarkModeToggle class="p-4" />
      <Nav posts={allPosts} categories={categories} client:load />
    </div>
    <slot />
  </body>
</html>
