---
import { DarkModeToggle } from "./ui";
import { PostsView } from "./ui";

const { allPosts } = Astro.props;
---

<nav
  class="w-[30%] h-full p-4 border-r border-gray-200 dark:border-gray-700 text-black dark:text-white"
>
  <DarkModeToggle />
  <PostsView allPosts={allPosts} client:load />
</nav>
